{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.lastname }}</h2>
    {% if session.logged_in %}
      <form action="/update/{{ entry.id }}" method=post class=update-entry>
        <SELECT NAME="firstname">
        {% for key, value in entry.allowed_fields.firstname.items() %}
          {% if entry.firstname == value %}
            <OPTION VALUE="{{ key }}" SELECTED>
          {% else %}
            <OPTION VALUE="{{ key }}">
          {% endif %}
          {{ value }}
        {% endfor %}
        </SELECT>
        <input type=submit value=Update>
      </form>
    {% endif %}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
